bin/busmaster-installers-3.2.2
bin/*.exe
bin/*.AppImage
.config/darktable/library.db*
.config/darktable/data.db*
.config/micro/backups
.local/share/nemo/actions/clone-git-repo@anaximeno
.local/share/nemo/actions/send-as-attachment@rcalixte
.local/share/nemo/actions/file-shredder@czmisacz
.local/share/nemo/actions/clone-git-repo@anaximeno.nemo_action
.local/share/nemo/actions/send-as-attachment@rcalixte.nemo_action
.local/share/nemo/actions/clone-git-repo@anaximeno
